<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SQL Injection</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/static/login.css">
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Welcome</a>
      </div>
    </nav>
  
    <div class="container">
      <div class = "jumbotron">
        <h1>SQL Injection Test</h1>
        <p>Enter your credentials</p>
        </div>
      </div>
    </div>
  
    <div class="container my-4">
      <form class="form-group" action="{{ url_for('login') }}" method="post">
         <!-- Add beautiful toggle buttons to enable/disable protection -->
    <div class="btn-group-toggle mb-4" data-toggle="buttons">
      <label class="btn btn-primary active">
        <input type="radio" name="protection_choice" id="protection_enabled" value="safe" checked> With Protection
      </label>
      <label class="btn btn-danger">
        <input type="radio" name="protection_choice" id="protection_disabled" value="unsafe"> Without Protection
      </label>
    </div>
        <br>

        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" class="form-control" id="username" name="username" placeholder="Enter username" required >
        </div>
  
        <div class="form-group">
          <label for="password">Password:</label>
          <div class="input-group">
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" required>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" onclick="myFunction()">
                <i class="fa fa-eye"></i>
              </button>
            </div>
          </div>
        </div>
        
        

        <button type="submit" class="btn btn-primary">Submit</button>

        <script>
          function myFunction() {
          var x = document.getElementById("password");
          if (x.type === "password") {
              x.type = "text";
          } else {
              x.type = "password";
          }
          }
        </script>
      </form>
      <p>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              {% if message == "Logged in successfully." %}
                <div class="alert alert-success" role="alert">
                  {{ message }}
                </div>
              {% else %}
                <div class="alert alert-danger" role="alert">
                  {{ message }}
                </div>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endwith %}
      </p>
    </div>  
  </body>
</html>
